<mc-card cls="card__content" headerCls="header__card__content" #maincard>
	<div class="card__header__tpl">
		<mc-header class="header__app">
			<div *ngIf="_prevTitle" class="header__left__tpl header__article-list__left">
				<mc-button icon="left" class="button__header__previous"></mc-button>
				<span class="card__title__previous">{{_prevTitle}}</span>
			</div>
			<span class="card__title__current">{{_title || _defaultTitle}}</span>
		</mc-header>
	</div>
	<mc-carousel></mc-carousel>    
</mc-card>