<table *ngIf="hasTable" class="listitem__table">
	<tr class="listitem__tr">
		<td *ngFor="let column of columns" width="{{column.flex * 100}}%" class="listitem__icontype__{{column.iconType}} listitem__align__{{column.align || 'left'}} {{column.cls ? 'listitem__column__' + column.cls : ''}}" >
			<mc-icon *ngIf="column.icon" [icon]="column.icon" [attr.data-icontype]="column.iconType"></mc-icon>
			<span *ngIf="column.field" class="listitem__text" [class.listitem__value__box]="column.box" [class.listitem__value-minus]="item[column.field] < 0">{{item[column.field]}}</span>
			<ng-content *ngIf="column.hasTpl" select=".listitem__column__tpl"></ng-content>
		</td>
	</tr>
</table>
<div *ngIf="hasDetail" class="listitem__detail" style="height:0px;" #detail><ng-content select=".listitem__detail__tpl"></ng-content></div>
<ng-content></ng-content>
<!--Simple Edit: this is for the simple edit. if there are many items to edit, it is needed a popup for editing items.-->
<div *ngIf="isSimpleEdit" class="listitem__simple__edit">
	<div class="listitem__label__container">
		<span class="listitem__label">{{item[displayField]}}</span>
		<span class="listitem__input"><input class="listitem__input__label" type="text" [value]="item[displayField]"></span>
	</div>
</div>
<div *ngIf="editable" class="listitem__tool">
	<mc-icon icon="edit" [attr.data-icontype]="edit" class="icon__listitem__edit"></mc-icon>
	<mc-icon icon="save" [attr.data-icontype]="save" class="icon__listitem__save"></mc-icon>
	<mc-icon icon="delete" [attr.data-icontype]="delete" class="icon__listitem__delete"></mc-icon>
</div>