@import "../../../../css/vars";

:host {
	display: block;
	position: relative;
	padding: 0 14px;
	cursor: pointer;
	.listitem__label {
		line-height: 34px;
	}
	.listitem__detail {
		overflow: hidden;
        transition: height 0.3s ease;
	}
	&.editable {
		padding-right: 66px;
		.listitem__label__container {
			.listitem__input__label {
				display: inline-block;
				line-height: 18px;
				width: 100%;
			}
		}
		.listitem__input, .icon__listitem__save {
			display: none;
		}
		.listitem__tool {
			display: inline-block;
			position: absolute;
			top: 5px;
			right:5px;
		}
		&.edit-mode {
			.listitem__label, .icon__listitem__edit {
				display: none;
			}
			.listitem__input {
				display: block !important;
				padding: 5px 0;
			}
			.icon__listitem__save, .icon__listitem__delete {
				display: inline-block !important;
			}
		}
	}
	&.selected, &.toggled {
		.listitem__icontype__select, .listitem__icontype__toggle {
			mc-icon {
				color: #62bb52;
			}
		}
	}

	table {
		width: 100%;
		border: 0;
		td {
			text-align: left;
			border: 0;
			font-size: 14px;
			&.listitem__column__next {
				mc-icon {
					width: 12px;
					height: 12px;
					font-size: 20px;
					line-height: 33px;
				}
			}
			&.listitem__icontype__select, &.listitem__icontype__toggle {
				mc-icon {
					width: 16px;
					height: 20px;
					font-size: 20px;
					line-height: 33px;
					color: rgba(192, 192, 192, .2);
				}
			}
			&.listitem__align__right {
				text-align: right;
			}
			&.listitem__align__center {
				text-align: center;
			}

			.listitem__text {
				display: inline-block;
				line-height: 20px;
				&.listitem__value__box {
					background-color: #63bc53;
					border-radius: 3px;
				    min-width: 45px;
				    padding: 2px 7px;
				    color: white;
					&.listitem__value-minus {
						background-color: #c8272d;
					}
				}
			}
		}
	}
}